.community-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}