.signup-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top: 64px;
    max-width: 70vw;
    border-radius: 5px;
    background-color: var(--secondary-color);
    gap: 24px;
    color: var(--light-text-color);
}