.signup-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top: 64px;
    max-width: 70vw;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 24px;
    color: var(--text-color);
}

.fullsection-card {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 24px;
    margin-top: 64px;
    max-width: 70vw;
    border-radius: 5px;
    background-color: var(--light-secondary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 24px;
}
