.card {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
    padding: 1.5rem;
    width: 300px;
    height: auto;
    text-align: center;
    outline: 1px solid gray;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);

}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.card-content {
    padding: 20px;
    flex-grow: 1;
}


.card h3 {
    margin-top: 0;
    color: var(--light-text-color);
}

.card p {
    color: var(--light-text-color);
    font-size: 1rem;
}


.card button {
    margin: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}


.card button:hover {
    background-color: #0056b3;
}
