.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}                                                  

.gallery img {
    width: 60%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}                                                  

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}                                                    

@media screen and (min-width: 768px) {
    .gallery img {
        width: 100%;
        height: 300px;
    }
}                                                  
