/* Typography for body */

.roboto-body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 ;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
}

/* Typography (Using Golden Ratio) */
h1 {
    font-size: 4.2rem; /* 2.6 x 1.618 rounded */
    text-decoration: none;
    color: var(--text-color);
}
h2 {
    font-size: 3.2rem; /* 2 x 1.618 rounded */
    color: var(--text-color);
}
h3 {
    font-size: 2.5rem; /* 2.6 x 1.618 rounded */
    color: var(--text-color);
}

label {
    font-size: 1.2rem;

    font-weight: bold;
}

/* Mobile */
.page-title{
    text-align: center;
    font-size: 2rem;
}

/* Desktop */
@media (min-width: 768px) {
    .page-title {
        text-align: left;
        font-size: 3rem; /* Larger font for desktop */
    }
}


/* Color Scheme */
:root {
    /* Color Variables */
    --primary-color: #000029;
    --light-primary-color: #E4E4EE;
    --secondary-color: #E28413;
    --dark-secondary-color: #8A510C;
    --light-secondary-color: #edcba2;
    --background-color: #FBF5F3;
    --text-color: #2D2C2B;
    --light-text-color: #f2f2f2;

    /* Spacing Variables */
    --space-0: 0;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 3rem;


    /* Margin */
    .m-1 { margin: var(--space-1); }
    .m-2 { margin: var(--space-2); }
    .m-3 { margin: var(--space-3); }
    .m-4 { margin: var(--space-4); }
    .m-5 { margin: var(--space-5); }

    .m-t-1 { margin-top: var(--space-1); }
    .m-t-3 { margin-top: var(--space-3); }
    .m-b-1 { margin-bottom: var(--space-1); }
    .m-b-3 { margin-bottom: var(--space-3); }
    .m-s-1 { margin-inline-start: var(--space-1); }
    .m-e-1 { margin-inline-end: var(--space-1); }
    .m-x-1 { margin-inline: var(--space-1); }
    .m-y-1 { margin-block: var(--space-1); }
    .m-y-3 { margin-block: var(--space-3); }

    /* Padding */
    .p-1 { padding: var(--space-1); }
    .p-2 { padding: var(--space-2); }
    .p-3 { padding: var(--space-3); }
    .p-4 { padding: var(--space-4); }
    .p-5 { padding: var(--space-5); }

    .p-t-1 { padding-top: var(--space-1); }
    .p-b-1 { padding-bottom: var(--space-1); }
    .p-s-1 { padding-inline-start: var(--space-1); }
    .p-e-1 { padding-inline-end: var(--space-1); }
    .p-x-1 { padding-inline: var(--space-1); }
    .p-x-3 { padding-inline: var(--space-3); }
    .p-y-1 { padding-block: var(--space-1); }
}


