/* PAGE CONTAINER */
/* Mobile */
.container {
    width: 80vw;
    margin: 0 auto; /*Auto center*/
    background-color: var(--background-color);
    text-align: center;
    padding-bottom: 64px;
}          

.nav-container {
    display: flex;
    flex-direction: row;
    top: 0;
    position: fixed;
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 24px;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 10;
}

.nav-container-nested {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-left: 0;
    background-color:var(--primary-color);
}


/* Desktop */
@media (min-width: 768px) {
    .container {
        width: 70vw;
        margin: 0 auto;
        background-color: var(--background-color);
    }  
}

/* Mobile */
@media (max-width: 767px) {
    .nav-container {
    display: none;
    }
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
    background-color: var(--primary-color); /* Dark background */
    color: var(--light-text-color);
    font-size: 0.95rem;
    margin: 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-logo {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.footer-section h3 {
    margin-bottom: 6px;
    font-weight: 600;
    color: var(--light-text-color)
}

.footer-section p {
    margin-bottom: 6px;
    color: var(--light-text-color)
}

.footer-section a {
    color: var(--light-text-color);
    text-decoration: none;
    margin-right: 8px;
}

.footer-section a:hover {
    text-decoration: underline;
    color: var(--secondary-color)
}
