/* button styles */
.button {
padding: 10px 20px;
border-radius: 5px;
font-size: 1rem;
border: none;
cursor: pointer;
text-align: center;
display: inline-block;
text-decoration: none; /* new */
}

/* button color variants */
.button-primary {
background-color: var(--color-primary);
color: white;
}

.button-secondary {
background-color: var(--color-secondary);
color: white;
}

.button-dark {
background-color: var(--color-dark);
color: white;
}

.button-bright {
background-color: var(--color-bright);
color: white;
}

/* Hover Effect for Buttons */ 
.button:hover { 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */ 
    transform: translateY(-2px); /* Lifts the button slightly */ 
    transition: all 0.2s ease-in-out; /* Smooth transition */ 
} 
.card-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;

}           
.simple-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 350px;
    text-align: center;  
    display: inline-block;                                                                                                       
}

@media (min-width: 768px) {
    .card-container {
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        justify-content: center; /* Center cards in the container */
    }
    .simple-card {
        width: auto; /* Allow cards to size dynamically */
        flex: 1 1 280px; /* Flexible sizing for desktop */
    }
    .button {
        margin: 0.5rem; /* Add margin for spacing */
    }
}              

/* Temperature Widget Styles */ 
.temperature-widget { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: var(--color-dark); 
    padding: 10px 15px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    font-size: 1rem; 
    font-weight: bold; 
    color: white;  
}
